/* Opción 4*/
/* :root {
  --bg-body: #304269;
  --bg-color: #91BED4;
  --bg-days: #D9E8F5;
  --bg-day: #D9E8F5;
  --color-border: none;
  --bg-footer: white;
  --bg-button: white;
  --color-button: #304269;
  --title-color: #304269;
  --text-color: #304269;
} */

/* Opción 3 */
/* :root {
  --bg-body: #135487;
  --bg-color: #B0E1F1;
  --bg-days: #135487;
  --bg-day: #85B0C6;
  --color-border: none;
  --bg-footer: #47BCDF;
  --bg-button: #47BCDF;
  --color-button: black;
  --title-color: #135487;
  --text-color: #B0E1F1;
} */

/* Opcioón 1 */
/* :root {
  --bg-body: #67BCCA;
  --bg-color: #FFEF9D;
  --bg-days: #E57A35;
  --bg-day: #BEE8DC;
  --color-border: none;
  --bg-footer: #67BCCA;
  --bg-button: #67BCCA;
  --color-button: black;
  --title-color: black;
  --text-color: black;
} */

/* Opción 2 */
/* :root {
  --bg-body: #226F9E;
  --bg-color: #FFD37E;
  --bg-days: #226F9E;
  --bg-day: #FFF7BB;
  --color-border: none;
  --bg-footer: #FFF7BB;
  --bg-button: #69BAE8;
  --color-button: black;
  --title-color: black;
  --text-color: #FFD37E;
} */
