.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(130, 164, 201);
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

h3 {
    font-size: 14px;
}

h3, h4 {
    margin: 0px 20px;
}

.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modalContainer {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
}

.titleModal {
    width: 100%;
    margin: 5px;
}

.nameButton {

    width: 32%;
    color: black;
    background-color: rgb(212, 184, 223);
    border: none;
    border-radius: 5px;
    margin: 1px;
    font-size: 13px;
    padding: 5px;
}

button {
    margin-right: 2px;
}