.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: var(--bg-color);
    padding-top: 10px;
}

.title {
    width: 210px;
    font-size: 18px;
    text-decoration: underline;    
    margin: 0px;
    color: var(--title-color);
    font-style: italic;
    font-weight: 800;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 100%;
}

h4 {
    text-align: center;
    font-size: 14px;
    margin: 0px;
}

/* Ventana Modal */
.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transition: all .5s;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.modalContainer {

    gap: 1px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 5px;
}

.titleModal {
    width: 100%;
    margin: 5px;
}

.nameButton {
    width: 32%;
    color: black;
    background-color: var(--bg-day);
    border: none;
    border-radius: 5px;
    margin: 1px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

.iniciarSesion, .exit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--bg-button);
    color: var(--color-button);
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    padding: 2px;
}