.container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(130, 164, 201);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}


/* .btnLast, .btnNext {
    height: 20px;
    background-color: rgb(86, 120, 223);
    border: solid 1px white;
}

.btnLast:hover, .btnNext:hover {
    background-color: white;
    transition: 800ms;
} */