.containerDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.containerDays div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: white;
    margin: 1px;
    border: solid 1px;
    border-radius: 3px;
    padding: 4px;
}

h2 {
    /* background-color: rgb(219, 220, 230);
    text-align: center;
    list-style: none;
    margin: 1px;
    border: solid 1px;
    border-radius: 3px; */
    text-align: center;
    font-size: 12px;
    margin: 0px;
}

.dayNone {
    display: none;
}

.dayActive {
    display: block;
}

p {
    display: none;
}


@media only screen and (max-width: 700px) {
    .containerDays div .circle {
        display: block;
        color: rgb(35, 182, 35);
        font-size: 20px;
        font-weight: bold;
    }
    
    .containerDays div .circle1 {
        display: block;
        color: rgb(103, 103, 209);
        font-size: 20px;
        font-weight: bold;
    }
}

@media only screen and (min-width: 701px) {
    .containerDays div .name {
        display: block;
    }
}


h5 {
    text-align: center;
    margin: 0px;
    margin-top: 10px;
}

hr {
    color: red;
    width: 100%;
}


.containerDays div p {
    margin: 0px;
    margin-left: 1%;
    font-size: 14px;
}


/* .containerDays div:hover {
    background-color: white;
    cursor: pointer;
}  */
