.containerDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.containerDays div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: white;
    margin: 1px;
    border: solid 1px;
    border-radius: 3px;
    padding: 4px;
}

h2 {
    text-align: center;
    font-size: 12px;
    margin: 0px;
}

.dayNone {
    display: none;
}

.dayActive {
    display: block;
}

.containerDays div .circle {
    font-weight: bold;
    font-size: 20px;
    /* padding: 20px 0px; */
    height: 22px;
    width: 0px;
}

@media only screen and (max-width: 700px) {
    .containerDays div .name, .containerDays div h5 {
        display: none;
    }

    .containerDays div hr {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 701px) {
    .containerDays div .name {
        display: block;
    }
}


h5 {
    text-align: center;
    margin: 0px;
    margin-top: 10px;
}

hr {
    margin: 0px;
    width: 100%;
}


.containerDays div p {
    margin: 0px;
    margin-left: 1%;
    /* font-size: 14px; */
}